<table width="100%" cellspacing=0 cellpadding=2 border=0 summary="heading">
    <tr bgcolor="{bgcol}">
        <td valign=bottom>&nbsp;<br>
            <font color="{fgcol}" face="helvetica, arial">&nbsp;<br>{{title}}</font></td>
        <td align=right valign=bottom
        ><font color="{fgcol}" face="helvetica, arial">{% if extras %}{{ extras }}{% else %}'&nbsp;'{% endif %}</font></td>
    </tr>
</table>
