<header class="theme-heading">
    <div class="heading-content">
        <div class="project-name">{{ settings.PROJECT_NAME }}</div>
        <h1 class="heading-text">{{ title }}</h1>
        <div class="heading-extras">
            {% if extras %}{{ extras }}{% else %}&nbsp;{% endif %}
        </div>
    </div>
    {% if nav_links %}
    <nav class="header-nav">
        {% for link in nav_links %}
        {{ link }}
        {% endfor %}
    </nav>
    {% endif %}
</header>
