{{ heading_html }}
<p><tt>{{ doc_html }}</tt></p>

{% if package_contents %}
{{ package_contents }}
{% endif %}

{% if modules %}
{{ modules }}
{% endif %}

{% if from_modules %}
{{ from_modules }}
{% endif %}

{% if classes %}
{{ classes }}
{% endif %}

{% if functions %}
{{ functions }}
{% endif %}

{% if data %}
{{ data }}
{% endif %}

{% if author %}
{{ author }}
{% endif %}

{% if credits %}
{{ credits }}
{% endif %}
