[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
docopt-ng = "*"
jinja2 = "*"
typing-extensions = "*"
tomli = "*"
markdown = "*"
docutils = "*"

[dev-packages]
interrogate = "*"
python-dotenv = "*"
coverage = "*"
pdoc3 = "*"
navio-builder-win = "*"
pytest = ">=6.0.1"
pytest-cov = ">=2.10.1"
pytest-xdist = ">=2.1.0"
checksumdir = "==1.1.7"
tox = "*"
setuptools-scm = "*"
jake = "*"
libyear = "*"
html5lib = "*"
lazydocs = "*"
pydocstyle = "*"
mkdocs-material = ">=7.1.6"
mkdocstrings = "*"
mkdocs = "*"
pycco = "*"
portray = ">=1.6.0"
pydoctor = "*"
handsdown = "*"
sphinx = "*"
sphinx-rtd-theme = "*"
darglint = "*"
types-docutils = "*"
types-markdown = "*"
blacken-docs = "*"
docstring-parser = "*"
mypy = "*"
pre-commit = "*"

[requires]
python_version = "3.11"
